cp/application/config/config.php
cp/application/config/database.php
cp/application/config/typos_config.php
configuration.php

# IDE Files
#-------------------------
/nbproject/
.idea/*
.vscode/

/vendor/
