<?php

// Настройки подключения к базе данных
const DB_DRIVER   = 'mysql';
const DB_DATABASE = 'eterfund_typos';
const DB_HOSTNAME = 'localhost';
const DB_USERNAME = 'eterfund';
const DB_PASSWORD = 'helloworldpassword';

?>
