
.text-editable {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.1);
    color: inherit;
}

.text-editable-wrapper {
    display: inline-block;
}

.text-editable-button {
    cursor: pointer;
}

.text-editable-button:hover {
    -webkit-animation: pulse 800ms linear infinite;
    -o-animation: pulse 800ms linear infinite;
    animation: pulse 800ms linear infinite;
}

.text-editable-wrapper .button-wrapper {
    display: inline-block;
    margin-left: 5px;
}

/* Pulsating animation */

@keyframes pulse {
    50% {transform: scale(1.1, 1.1);}
    100% {transform: scale(1, 1)}
}

@-moz-keyframes pulse {
    50% {-moz-transform: scale(1.1, 1.1);}
    100% {-moz-transform: scale(1, 1)}
}

@-webkit-keyframes pulse {
    50% {-webkit-transform: scale(1.1, 1.1);}
    100% {-webkit-transform: scale(1, 1)}
}