body {
    margin: 0;
}

#content  {
    padding-top: 30px;
}

.left  {
    height: 100%;
    float: left;
    position: absolute;
}

.body {
    width: 80%;
    margin: 0 auto;
}


.header {
    margin-bottom: 15px;
}

.footer  {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer .copyright {
    font-size: 80%;
}

.typo {
    background-color: rgba(200, 200, 10, 0.2);
}

.tab-content {
    margin-top: 10px;
}